@import Compoment/mixin
    
*
    margin: 0
    padding: 0

html
    text-decoration: none
    margin: 0
    padding: 0
    font-family: "Rubik"

body
    margin: 0
    padding: 0
    background-color: #f5f8fa !important

header
    background: url(../img/koropli.jpg) no-repeat bottom/cover
    padding-bottom: 50px


.flex-between
    display: flex
    justify-content: space-between
    flex-wrap: nowrap

.navi 
    display: flex
    justify-content: flex-end 

    


.items-center
    display: flex
    flex-direction: column
    align-items: center

.ny-test

    font-size: 66px
    letter-spacing: 1px
    text-transform: uppercase
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"


.leni 
    position: relative
    margin: 0 auto
    padding: 59px 0 51px
    margin-bottom: 44px
    margin-top: 100px


.leni:before,
.leni:after
    content: ""
    position: absolute
    left: 50%
    width: 55%
    opacity: 0.200
    border-left: 4px solid #ffffff
    border-right: 4px solid #ffffff
    transform: translateX(-50%)


.leni:before
    top: 0
    border-top: 4px solid #ffffff
    height: 40px

.leni:after
    bottom: 0 
    border-bottom: 4px solid #ffffff
    height: 93px


.flex-between
    flex-wrap: wrap !important 
    align-items: center  
    

.max-hud
    max-width: 531px

.agiga 
    font-size: 16px
    letter-spacing: 1px
    text-transform: uppercase
    color: #fdfcfb
    font-weight: 400
    font-family: "Rubik"
    padding: 10px 30px
    border-radius: 22px
    background: #ffb700
    text-align: center
    text-decoration: none
    border: 1px solid #ffb700
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out
    z-index: 15

.agiga
    &:hover
        background: transparent
        color: #ffb700




.naviki
    text-transform: uppercase
    font-size: 14px
    letter-spacing: 1px
    color: #e0e8f9
    font-weight: 400
    text-align: right
    text-decoration: none
    padding: 0 14.5px 
    transition: color 0.5s ease-in-out
    

.naviki:hover
    color: #ffb700
    text-decoration: none


.laniki
    padding: 150px 0 0 0
    
.laniki h2
    max-width: 325px
    font-size: 36px
    letter-spacing: 1px
    text-transform: uppercase
    color: #333
    font-weight: 400
    text-align: center
    padding-top: 10px

.laniki p
    font-size: 16px
    line-height: 24px
    color: #333333
    font-weight: 400
    font-style: italic
    text-align: center
    padding-bottom: 18px



.hobobi h3
    font-size: 36px
    letter-spacing: 1px
    line-height: 40px
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    padding-bottom: 16.5px


main
    padding: 25px 0 0 0

.hiviri 
    font-size: 16px
    line-height: 22px
    color: #555
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    padding-bottom: 22px

.bini
  position: relative
  padding: 0 0 72px


.bini a 
    position: absolute
    top: 0
    left: 54%
    font-size: 12px
    letter-spacing: 0px
    text-transform: uppercase
    color: #09f
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    text-decoration: none
    transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out
    max-width: 200px



.bini path
    transition: fill 0.5s ease-in-out, text-decoration 0.5s ease-in-out
    
 


.hobobi p:last-child 
    font-size: 16px
    line-height: 22px
    color: #bbb
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    padding-top: 20px


.bobertwo
    position: relative
    margin: 0 auto 
    img
        position: absolute
        top: 0
        left: 0
        min-width: 60px
        min-height: 61px

.bobertree
    position: relative
    margin: 0 auto
    img
        position: absolute
        top: 0
        left: 0
        min-width: 60px
        min-height: 61px
        
.bini
    a
     &:hover
        color: #9bcdcf
        svg
            path
                fill: #9bcdcf



.bober,
.bobertwo,
.bobertree
    margin: 0
    min-height: 270px
    cursor: pointer
    transition: box-shadow 0.5s ease-in-out, text-decoration 0.5s ease-in-out
    &:hover
        box-shadow: (0px 4px 10.5px rgba(3,20,31,0.05))

.bober p:last-child,
.bobertwo p:last-child,
.bobertree p:last-child
    min-width: 240px


.bober p:nth-child(2),
.bobertwo p:nth-child(2),
.bobertree p:nth-child(2)
    margin: 0
    font-size: 18px
    line-height: 26px
    color: #333
    font-weight: 400
    font-family: "Rubik"
    text-align: center

.bober p:nth-child(3),
.bobertwo p:nth-child(3),
.bobertree p:nth-child(3)
    margin: 0
    font-size: 24px
    line-height: 44px
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center

.bober p:last-child,
.bobertwo p:last-child,
.bobertree p:last-child
    margin: 0
    font-size: 13px
    line-height: 19px
    color: #999
    font-weight: 400
    font-family: "Rubik"




hr
    border: none !important
    padding-bottom: 75px

.contentu
    max-width: 725px



.contentu h4
    font-size: 36px
    line-height: 42px
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    margin: 0


    

.contentu a:first-of-type
    font-size: 16px
    letter-spacing: 1px
    line-height: 110px
    text-transform: uppercase
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    background-color: #ffb700
    border-radius: 23px
    padding: 16px 26px
    text-decoration: none
    border: 1px solid #ffb700
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out
    margin-right: 10px 

.contentu a:first-of-type:hover
    background-color: transparent
    color: #ffb700
    text-decoration: none

.contentu a:last-of-type
    font-size: 16px
    letter-spacing: 1px
    line-height: 110px
    text-transform: uppercase
    color: #09f
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    border-radius: 23px
    border: 2px solid #09f
    background-color: rgba(0,153,255,0)
    text-decoration: none
    padding: 15px 35px
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out
.contentu a:last-of-type:hover
    background-color: #09f
    color: #fff
    text-decoration: none


.only 
    font-size: 13px
    line-height: 20px
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    text-align: center !important
    min-width: 200px

.onlys 
    background-color: #edf2f5
    padding: 30px
    max-height: 169px

.likis 
    font-size: 24px
    line-height: 44px
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    
.okly 
    max-width: 460px
    padding-top: 26px
    font-size: 16px
    line-height: 24px
    color: #333333
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    margin: 0
    text-align: left
.bruh
    background: url(../img/mope.jpg) no-repeat center/cover
    padding: 100px

.bruh h5
    font-size: 56px
    letter-spacing: 2px
    line-height: 66px
    text-transform: uppercase
    font-weight: 400
    font-family: "Rubik"
    
.bruh h5:last-of-type
    padding: 0 0 11px 0
    color: #0099ff
.bruh h5:first-of-type
    color: #ffffff

.bruh p
    max-width: 396px
    font-size: 16px
    line-height: 24px
    color: #ffffff
    font-weight: 400
    font-family: "PT Sans"
    padding: 0 0 22px 0

.holihot
    margin: 0 auto
    position: relative
    padding: 15px

.holihot:before
    left: 0
    border-left: 4px solid #5c6770
    border-top: 4px solid #5c6770
    border-bottom: 4px solid #5c6770
.holihot:after
    right: 0
    border-right: 4px solid #5c6770
    border-top: 4px solid #5c6770
    border-bottom: 4px solid #5c6770

.holihot:before,
.holihot:after
    content: ""
    position: absolute
    top: 0
    height: 100%  
    width: 20%
    padding: 20px 0

.lolk
    margin-bottom: 20px




.holihot p:first-of-type
    font-size: 16px
    line-height: 25px
    color: #ffffff
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    max-width: 600px
    margin: 0
    padding-top: 30px

.holihot p:nth-of-type(2)
    font-size: 18px
    line-height: 26px
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    max-width: 600px
    margin: 0
    padding-bottom: 5px

.holihot p:last-of-type
    font-size: 14px
    line-height: 19px
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    max-width: 600px
    margin: 0
    padding: 0 0 65px 0

.holihot img:first-of-type
    position: absolute
    top: -5%
    left: 50%
    transform: translateX(-50%)
    margin-bottom: 15px

.holihot img:last-of-type
    position: absolute
    top: 83%
    left: 50%
    transform: translateX(-50%)

.hub 
    font-size: 36px
    line-height: 42px
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    padding-top: 72px

.no-youbeat 
    font-size: 16px
    line-height: 24px
    color: #333333
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    text-align: center
    padding-bottom: 20px

.boost-delta img,
.boost-wex img,
.bro9i img,
.realsofter img:last-of-type 
    width: 100%
    min-height: 216px

.whoisare > img:first-of-type
    position: absolute
    top: 0
    left: 0
    min-width: 60px
    min-height: 61px
    z-index: 1

.whoisarea > img:first-of-type
    position: absolute
    top: 0
    left: 0
    min-width: 60px
    min-height: 61px
    z-index: 1
.whoisarea > img:last-of-type
    position: absolute
    top: 0
    left: 0
    min-width: 68.2px
    min-height: 60px

.whoisare,
.whoisarea
    position: relative
    margin: 0 auto

.boost-delta,
.boost-wex,
.bro9i,
.realsofter
    a
        &:hover
            color: #53afc1
            svg
                path
                    fill: #53afc1


.boost-delta,
.boost-wex,
.bro9i,
.realsofter
    cursor: pointer
    transition: box-shadow 0.5s ease-in-out, text-decoration 0.5s ease-in-out
    &:hover
        box-shadow: (0px 4px 10.5px rgba(3,20,31,0.05)) 
            


.joke
    display: flex
    justify-content: space-between
    align-items: baseline

.joke p
    font-size: 24px
    line-height: 44px
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"

.cool
    padding: 0 20px

.cool svg 
    fill: #ffb700

.cool > p
    font-size: 18px
    line-height: 22px
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    min-height: 30px

.cool h3
    font-size: 18px
    line-height: 26px
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    min-height: 30px
    

.cool > p 
    font-size: 13px
    line-height: 19px
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    min-height: 57px
    margin: 0
    



.boost-delta a, 
.boost-wex a,
.realsofter a,
.bro9i a
    font-size: 13px
    letter-spacing: 1px
    text-transform: uppercase
    color: #ffb700
    font-weight: 400
    font-family: "Rubik"
    text-align: right
    text-decoration: none 
    transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out


.boost-delta path, 
.boost-wex path,
.realsofter path,
.bro9i path
    transition: fill 0.5s ease-in-out, text-decoration 0.5s ease-in-out


.kol h6
    font-size: 36px
    letter-spacing: 1px
    line-height: 40px
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"

.kontik
    background: url(../img/Home.png) no-repeat center/cover
    padding: 20px

.loliks
    background: url(../img/restoran.png) no-repeat center/cover
    padding: 20px


.kontik h5:first-of-type
    font-size: 18px
    line-height: 24px
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    text-align: left

.kontik p:first-of-type
    font-size: 13px
    line-height: 19px
    color: #bbbbbb
    font-weight: 400
    font-family: "Rubik"
    width: 80%
    padding-left: 65px  

.kontik p:last-of-type
    max-width: 240px
    font-size: 13px
    line-height: 19px
    color: #fefefe
    font-weight: 400
    font-family: "Rubik"
    padding-bottom: 46px

.kontik a,
.loliks a
    border: 2px solid #ffb700
    background-color: rgba(255,183,0,0)
    border-radius: 16px
    font-size: 12px
    letter-spacing: 0px
    text-transform: uppercase
    color: #ffb700
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    padding: 5px 16px
    text-decoration: none
    transition: all 0.5s ease-in-out
    path
        transition: stroke 0.5s ease-in-out
    &:hover
       color: #0099ff
       border-color: #0099ff
       svg 
        path
            stroke: #0099ff



.loliks h5 
    font-size: 18px
    line-height: 24px
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"

.loliks p:first-of-type
    font-size: 13px
    line-height: 19px
    color: #bbbbbb
    font-weight: 400
    font-family: "Rubik"
    width: 75%
    padding-left: 55px
    min-width: 180px

.loliks p:last-of-type
    font-size: 13px
    line-height: 19px
    color: #fff
    font-weight: 400
    font-family: "Rubik"
    padding-bottom: 27px


.liliks
    margin: 0 auto
    position: relative
    height: 273px

.liliks:before,
.liliks:after
    content: ""
    position: absolute
    top: 0
    height: 100%  
    width: 45px  


.liliks:before  

    border-left: 4px solid #ffb700
    border-top: 4px solid #ffb700
    border-bottom: 4px solid #ffb700
.liliks:after
    right: 0
    border-right: 4px solid #ffb700
    border-top: 4px solid #ffb700
    border-bottom: 4px solid #ffb700
    

.liliks p:first-child
    position: absolute
    top: -4%
    left: 50%
    font-size: 18px
    letter-spacing: 1px
    line-height: 26px
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    text-align: center 
    margin: 0
    min-width: 155px
    transform: translateX(-50%)

.liliks p:nth-of-type(2)
    padding: 27px 80px 24px
    font-size: 13px
    line-height: 16px
    color: #999999
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    min-width: 160px
    margin: 0

.pon 
    display: flex
    justify-content: center



.pon a
    font-size: 18px
    line-height: 26px
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    margin: 0
    text-decoration: none
    

.liliks p:nth-of-type(3)
    font-size: 18px
    line-height: 26px
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    margin: 0

.liliks p:last-of-type
    font-size: 13px
    line-height: 19px
    color: #999999
    font-weight: 400
    font-family: "PT Sans"
    text-align: center
    margin: 0

.liliks img 
    position: absolute
    top: 80%
    left: 50%
    transform: translateX(-50%)


.thelastpart
    padding: 200px
    background: url(../img/last.jpg) no-repeat top/cover

.filteri
    background-color: #1a1a1a
    margin: 0


.filteri p
    padding: 15px 0
    font-size: 13px
    line-height: 19px
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    margin: 0

.lolikis
    padding-bottom: 100px

.bini 
    a
        +media(768)
            left: 50%
            transform: translateX(-45%)
        +media(320)
            left: 24%
        +media(425)
            left: 30%

.holihot
    +media(320)
        margin-top: 40px 
    +media(1024)
        margin-top: 30px
    img:last-of-type
        +media(768)
            top: 77%
    :after
        +media(768)
            width: 20%
    

.leni
  +media(320)
    &::before, &::after
      display: none
  +media(1024)
    &::before, &::after
      display: block


.bruh 
    +media(320)
        padding: 40px 0
    +media(1024)
        padding: 100px
    
.thelastpart
    +media(320)
        padding: 200px 0      

.liliks 
    p:nth-of-type(2)
        +media(320)
                padding: 27px 27px 24px
        +media(1440)
                padding: 27px 80px 24px
.kontik 
    p:first-of-type
        +media(768)
            padding-left: 58px
        +media(1024)
            padding-left: 65px
.whoisarea
    >img:last-of-type
        +media(425)
            min-width: 89.2px   
        +media(768)
            min-width: 68.2px   
.kol
    +media(320)
        text-align: center
    +media(768)
        text-align: left


    
