* 
    margin: 0
    padding: 0

html
    text-decoration: none
    margin: 0
    padding: 0
    font-family: "Rubik"

body
    margin: 0
    padding: 0

header
    height: 1200px
    background: url(../img/koropli.jpg) no-repeat center/cover


.flex-between
    display: flex
    justify-content: space-between
    flex-wrap: nowrap

.navi 
    display: flex
    justify-content: flex-end 


.items-center
    display: flex
    flex-direction: column
    align-items: center

.ny-test
    padding: 200px 0 0 0
    font-size: 72px
    letter-spacing: 1px
    line-height: 110px
    text-transform: uppercase
    color: #ffffff
    font-weight: 400
    font-family: "Rubik"


.max-hud
    max-width: 531px

.agiga 
    font-size: 16px
    letter-spacing: 1px
    text-transform: uppercase
    color: #fdfcfb
    font-weight: 400
    font-family: "Rubik"
    padding: 15px 30px
    border-radius: 22px
    background: #ffb700
    max-height: 50px
    text-align: center
    text-decoration: none
    margin-bottom: 400px
    border: 1px solid #ffb700
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out

.agiga:hover
    background: transparent
    color: #ffb700




.naviki
    font-size: 14px
    letter-spacing: 1px
    text-transform: uppercase
    color: #e0e8f9
    font-weight: 400
    text-align: right
    text-decoration: none
    padding: 0 14.5px 
    transition: color 0.5s ease-in-out
    

.naviki:hover
    color: #ffb700
    text-decoration: none
    
.laniki h2
    max-width: 325px
    font-size: 36px
    letter-spacing: 1px
    text-transform: uppercase
    color: #333
    font-weight: 400
    text-align: center
    padding-top: 10px

.laniki p
    font-size: 16px
    line-height: 24px
    color: #333333
    font-weight: 400
    font-style: italic
    text-align: center
    padding-bottom: 18px



.hobobi h3
    font-size: 36px
    letter-spacing: 1px
    line-height: 40px
    text-transform: uppercase
    color: #333333
    font-weight: 400
    font-family: "Rubik"
    padding-bottom: 16.5px

.hiviri 
    font-size: 16px
    line-height: 22px
    color: #555
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    padding-bottom: 22px

.bini a 
    font-size: 12px
    letter-spacing: 0px
    line-height: 110px
    text-transform: uppercase
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
    text-decoration: none
    transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out

.bini a:hover
    color: #333
    text-decoration: none


.hobobi p:last-child 
    font-size: 16px
    line-height: 22px
    color: #bbb
    font-weight: 400
    font-style: italic
    font-family: "Rubik"
    padding-top: 20px

.bober,
.bobertwo,
.bobertree
    margin: 0
    max-width: 270px
    min-height: 270px

.bober p:last-child,
.bobertwo p:last-child,
.bobertree p:last-child
    min-width: 240px


.bober p:nth-child(2),
.bobertwo p:nth-child(2),
.bobertree p:nth-child(2)
    margin: 0
    font-size: 18px
    line-height: 26px
    color: #333
    font-weight: 400
    font-family: "Rubik"
    text-align: center

.bober p:nth-child(3),
.bobertwo p:nth-child(3),
.bobertree p:nth-child(3)
    margin: 0
    font-size: 24px
    line-height: 44px
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center

.bober p:last-child,
.bobertwo p:last-child,
.bobertree p:last-child
    margin: 0
    font-size: 13px
    line-height: 19px
    color: #999
    font-weight: 400
    font-family: "Rubik"

